<launch>

  <!-- Bringup minimal -->

  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
  </include>
	
	<!-- set the odometry correction parameter! -->
  <param name="/turtlebot_node/odom_angular_scale_correction" value="1.0" />


	<!-- Amcl navigation -->
	
	<include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
	</include>
	
	<!-- 3d sensor -->
	
	<include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
	</include>
	
	
	<!-- Cylinder segmentation -->
	<node name="cylseg" pkg="task3" type="cylinder_segmentation" respawn="true"/>
	<node name="call_cylseg" pkg="task3" type="call_cylinder_detection.py" respawn="true"/>
	
	<!-- Ring detection -->
	<node name="ring_detection" pkg="task3" type="detect_rings_reformated.py" respawn="true"/>
	
	<!-- QR codes -->
	<node name="qr_detection" pkg="task3" type="check_for_qr.py" respawn="true"/>
	
	<!-- check if reachable service -->
	<node name="check_if_reachable" pkg="task3" type="check_if_reachable.py" respawn="true"/>
	
	<!-- check for numbers -->
	<node name="check_for_numbers" pkg="task3" type="check_for_numbers.py" respawn="true"/>
	
	<!-- accumulate positions -->
	<node name="accumulate_positions" pkg="task3" type="accumulate_positions.py" respawn="true"/>
	
	
</launch>
